{% load static %}
<!DOCTYPE html>
<html lang="en">

<!-- doccure/blank-page.html  30 Nov 2019 04:12:20 GMT -->

<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
	<title>Professionals Booking</title>

	<!-- Favicons -->
	<link type="image/x-icon" href="{% static 'proConnect-System/images/Normal/favicon.png' %}" rel="icon">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="{% static 'proConnect-System/css/Normal/bootstrap.min.css' %}">

	<!-- Fontawesome CSS -->
	<link rel="stylesheet" href="{% static 'proConnect-System/plugins/Normal/fontawesome/css/fontawesome.min.css' %}">
	<link rel="stylesheet" href="{% static 'proConnect-System/plugins/Normal/fontawesome/css/all.min.css' %}">

	<!-- Main CSS -->
	<link rel="stylesheet" href="{% static 'proConnect-System/css/Normal/style.css' %}">

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
        <script src="assets/js/html5shiv.min.js"></script>
        <script src="assets/js/respond.min.js"></script>
    <![endif]-->

</head>

<body>

	<!-- Main Wrapper -->
	<div class="main-wrapper">

		<!-- Header -->
		<header class="header">{% include 'navbar_home.html' %}</header>
		<!-- /Header -->

		<!-- Breadcrumb -->
		<div class="breadcrumb-bar">
			<div class="container-fluid">
				<div class="row align-items-center">
					<div class="col-md-12 col-12">
						<nav aria-label="breadcrumb" class="page-breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="index-2.html">Home</a></li>
								<li class="breadcrumb-item active" aria-current="page">About Us</li>
							</ol>
						</nav>
						<h2 class="breadcrumb-title">About Us</h2>
					</div>
				</div>
			</div>
		</div>
		<!-- /Breadcrumb -->

		<!-- Page Content -->
		<div class="content">
			<div class="container-fluid">
				<div class="row">
					<div class="col-12">
						<h5>About Us</h5>
						<p>

							At ProConnect Limited, we're revolutionizing how clients and professionals connect across all service-based industries. Our online booking platform serves as a bridge, bringing together a wide array of services under one digital roof. Whether you're seeking legal advice, creative insights, healthcare consultations, engineering solutions, or any other professional service, ProConnect Limited is your premier destination.

							<h5> Our Vision</h5>

							We envision a world where accessing professional services is seamless, efficient, and transparent. Our platform is designed not just to facilitate service discovery but also to foster long-term partnerships between clients and professionals. We aim to be the go-to digital marketplace that simplifies the connection process, ensuring that every interaction leads to mutual growth and success.

							<h5> Our Mission</h5>

							Our mission is to empower clients by providing a comprehensive and user-friendly platform that offers access to a diverse range of professional services. Simultaneously, we strive to support professionals by offering them the visibility and tools needed to grow their clientele and expand their reach. At ProConnect Limited, we're committed to enhancing the service procurement experience through innovation, quality assurance, and personalized support.

							<h5> Why Choose Us?</h5>

							- Diverse Range of Services: From healthcare to legal services, engineering, and the arts, our platform covers a broad spectrum of industries. This diversity ensures that you can find the right professional for any task, all in one place.
							- Quality Assurance: We pride ourselves on connecting you with certified, experienced, and highly-rated professionals who are leaders in their fields. Quality and trust are the cornerstones of our platform.
							- Innovative Features: Our platform utilizes the latest in digital technology to ensure that finding and booking services is as straightforward and efficient as possible. Features like real-time availability, secure messaging, and transparent reviews make service engagement smooth and reliable.
							- Personalized Experience: We understand that every client's needs are unique. Our platform offers tailored recommendations and allows for personalized search criteria, ensuring that you find professionals who match your specific requirements.
							- Supporting Professionals: We're dedicated to helping professionals thrive. ProConnect Limited offers tools and insights that help professionals manage bookings, expand their client base, and showcase their expertise to a broader audience.

							<h5> Join Us</h5>

							Whether you're a client in search of top-notch professional services or a service provider looking to elevate your presence, ProConnect Limited is here to support your journey. Explore our platform today and experience the future of professional service booking. Welcome to ProConnect Limited, where excellence meets convenience.

						</p>
					</div>
				</div>
			</div>

		</div>
		<!-- /Page Content -->


		<!-- Footer -->
		{% include 'footer.html' %}
		<!-- /Footer -->


	</div>
	<!-- /Main Wrapper -->

	<!-- jQuery -->
	<script src="{% static 'proConnect-System/js/Normal/jquery.min.js' %}"></script>

	<!-- Bootstrap Core JS -->
	<script src="{% static 'proConnect-System/js/Normal/popper.min.js' %}"></script>
	<script src="{% static 'proConnect-System/js/Normal/bootstrap.min.js' %}"></script>

	<link rel="stylesheet" href="{% static 'proConnect-System/plugins/Normal/fontawesome/css/fontawesome.min.css' %}">
	<link rel="stylesheet" href="{% static 'proConnect-System/plugins/Normal/fontawesome/css/all.min.css' %}">

	<!-- Slick JS -->
	<script src="{% static 'proConnect-System/js/Normal/slick.js' %}"></script>

	<!-- Custom JS -->
	<script src="{% static 'proConnect-System/Outside_assets/js/script.js' %}"></script>

</body>

<!-- doccure/blank-page.html  30 Nov 2019 04:12:20 GMT -->

</html>