{% load static %}
<!DOCTYPE html>
<html lang="en">
<!-- doccure/client-profile.html  30 Nov 2019 04:12:09 GMT -->

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0" />
    <title>Professionals Booking</title>

    <!-- Favicons -->
    <link type="image/x-icon" href="{% static 'proConnect-System/images/Normal/favicon.png' %}" rel="icon" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'proConnect-System/css/Normal/bootstrap.min.css' %}" />

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="{% static 'proConnect-System/plugins/Normal/fontawesome/css/fontawesome.min.css' %}" />
    <link rel="stylesheet" href="{% static 'proConnect-System/plugins/Normal/fontawesome/css/all.min.css' %}" />

    <!-- Main CSS -->
    <link rel="stylesheet" href="{% static 'proConnect-System/css/Normal/style.css' %}" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="assets/js/html5shiv.min.js"></script>
      <script src="assets/js/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <!-- Main Wrapper -->
    <div class="main-wrapper">
        <!-- Header -->
        <header class="header">{% include 'professional-navbar.html' %}</header>
        <!-- /Header -->


        <!-- Breadcrumb -->
        <div class="breadcrumb-bar">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-md-12 col-12">
                        <nav aria-label="breadcrumb" class="page-breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="{% url 'professional_service_home'%}">Home</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    Edit ServiceRequest
                                </li>
                            </ol>
                        </nav>
                        <h2 class="breadcrumb-title">Edit ServiceRequest</h2>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Breadcrumb -->

        <!-- Page Content -->
        <div class="content">
            <div class="container-fluid">

                <div class="row">
                    <!-- Profile Sidebar -->
                    <div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">
                        <div class="card widget-profile pat-widget-profile">
                            <div class="card-body">
                                <div class="pro-widget-content">
                                    <div class="profile-info-widget">
                                        <a href="#" class="booking-doc-img">
                                            <img src="{{ report.client.featured_image.url }}" alt="User Image" />
                                        </a>
                                        <div class="profile-det-info">
                                            <h3><a href="#">{{report.client.name}}</a></h3>


                                            <div class="client-details">
                                                <h5><b>ID :</b> {{report.client.client_id }}</h5>
                                                <h5 class="mb-0">
                                                    <i class="fas fa-map-marker-alt"></i>
                                                    {{ report.client.address }}
                                                </h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="client-info">
                                    <ul>
                                        <li>Phone <span>{{report.client.phone_number}}</span></li>
                                        <li>Age <span>{{report.client.age}}</span></li>
                                        <li>Blood Group <span>{{report.client.blood_group}}</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- /Profile Widget -->
                    </div>
                    <!-- / Profile Sidebar -->
                    <div class="col-md-7 col-lg-8 col-xl-9">
                        <div class="invoice-content">
                            <div class="invoice-item">
                                <div class="row">

                                    <div class="col-md-6">
                                        <div class="invoice-logo">
                                            <img src="{% static 'proConnect-System/images/Normal/FullLogo_Transparent_NoBuffer.png'%}"
                                                alt="logo">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <p class="invoice-details">
                                            <strong>Report ID:</strong>{{report.report_id}} <br>
                                            <strong>Client ID:</strong> {{client.client_id }} <br>
                                            <strong>Date:</strong> {{report.delivery_date}}
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <!-- Invoice Item -->
                            <div class="invoice-item">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="invoice-info">
                                            <strong class="customer-text">Professional Information:</strong>

                                            <p class="invoice-details invoice-details-two">
                                                <b>Name: </b>{{report.professional.name}} <br>
                                                <b>Department: </b>{{report.professional.profession_name}}<br>
                                                <b>Email: </b>{{report.professional.email}} <br>
                                            </p>

                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="invoice-info invoice-info2">
                                            <strong class="customer-text">Client Information</strong>
                                            <p class="invoice-details">
                                                <b>Name: </b>{{report.client.name}} <br>
                                                <b>Address: </b>{{report.client.address}}<br>
                                                <b>Email: </b>{{report.client.email}} <br>
                                                <b>Phone Number: </b>{{report.client.phone_number}}<br>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="invoice-item invoice-table-wrap">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="table-responsive">
                                            <table class="invoice-table table table-bordered text-center">
                                                <thead>
                                                    <tr>
                                                        <th style="border: 2px dotted;">Specimen Information</th>
                                                        <th style="border: 2px dotted;">Specimen ID</th>
                                                        <th style="border: 2px dotted;">Collection Date/Time</th>
                                                        <th style="border: 2px dotted;">Receiving Date/Time</th>
                                                    </tr>

                                                    <tr>
                                                        {% for s in specimen %}
                                                        <th style="border: 2px dotted;">{{s.specimen_type}}</th>
                                                        <th style="border: 2px dotted;">{{s.specimen_id}}</th>
                                                        <th style="border: 2px dotted;">{{s.collection_date}}</th>
                                                        <th style="border: 2px dotted;">{{s.receiving_date}}</th>

                                                    </tr>
                                                    {% endfor %}
                                                    </tbody>
                                            </table>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <br>
                            <div class="invoice-item invoice-table-wrap">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="table-responsive">
                                            <table class="invoice-table table table-bordered">
                                                <thead>
                                                    <tr style="background-color: rgb(84, 147, 199);">
                                                        <th>Test Name</th>
                                                        <th class="text-center">Result</th>
                                                        <th class="text-center">Unit</th>
                                                        <th class="text-center">Referred value</th>

                                                    </tr>
                                                    {% for t in test %}
                                                    <tr>
                                                        <th class="text-center">{{t.test_name}}</th>
                                                        <th class="text-center">{{t.result}}</th>
                                                        <th class="text-center">{{t.unit}}</th>
                                                        <th class="text-center">{{t.referred_value}}</th>
                                                    </tr>
                                                    {% endfor %}
                                                    </tbody>
                                            </table>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <!-- /Invoice Item -->


                            <!-- Invoice Information -->
                            <div class="other-info">
                                <h4 style="background-color: rgb(84, 147, 199);">Other information</h4>
                                <p>{{report.other_information}}</p>

                                {% comment %}
                                <button class="btn btn-sm bg-primary-light"> <a target="_blank"
                                        href="{% url 'pdf' pk=report.report_id %}"> Download Report </a></button>
                                {% endcomment %}


                            </div>
                            <!-- /Invoice Information -->

                        </div>

                    </div>
                </div>

            </div>


        </div>

        <!-- /Page Content -->

        <!-- Footer -->
        {% include 'footer.html' %}
        <!-- /Footer -->
    </div>
    <!-- /Main Wrapper -->

    <!-- Add Product Records Modal -->
    <div class="modal fade custom-modal" id="add_medical_records">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Product Records</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>Date</label>
                            <input type="text" class="form-control datetimepicker" value="31-10-2019" />
                        </div>
                        <div class="form-group">
                            <label>Description ( Optional )</label>
                            <textarea class="form-control"></textarea>
                        </div>
                        <div class="form-group">
                            <label>Upload File</label>
                            <input type="file" class="form-control" />
                        </div>
                        <div class="submit-section text-center">
                            <button type="submit" class="btn btn-primary submit-btn">
                                Submit
                            </button>
                            <button type="button" class="btn btn-secondary submit-btn" data-dismiss="modal">
                                Cancel
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- /Add Product Records Modal -->

    <!-- jQuery -->
    <script src="{% static 'proConnect-System/js/Normal/jquery.min.js' %}"></script>

    <!-- Bootstrap Core JS -->
    <script src="{% static 'proConnect-System/js/Normal/popper.min.js' %}"></script>
    <script src="{% static 'proConnect-System/js/Normal/bootstrap.min.js' %}"></script>

    <!-- Slimscroll JS -->
    <script src="{% static 'proConnect-System/plugins/admin/slimscroll/jquery.slimscroll.min.js' %}"></script>

    <!-- Datetimepicker JS -->
    <!-- <script src="{% static 'proConnect-System/js/Normal/moment.min.js' %}"></script>
    <script src="{% static 'proConnect-System/js/Normal/bootstrap-datetimepicker.min.js' %}"></script> -->

    <!-- ServiceRequest Settings JS -->
    <script src="{% static 'proConnect-System/js/Normal/serviceRequest-settings.js' %}"></script>

    <!-- Datatables JS -->
    <script src="{% static 'proConnect-System/plugins/admin/datatables/jquery.dataTables.min.js'%}"></script>
    <script src="{% static 'proConnect-System/plugins/admin/datatables/datatables.min.js'%}"></script>

    <!-- Sticky Sidebar JS -->
    <!-- <script src="{% static 'proConnect-System/plugins/Normal/theia-sticky-sidebar/ResizeSensor.js' %}"></script>
    <script src="{% static 'proConnect-System/plugins/Normal/theia-sticky-sidebar/theia-sticky-sidebar.js' %}"></script> -->

    <!-- Custom JS -->
    <script src="{% static 'proConnect-System/Outside_assets/js/script.js' %}"></script>

</body>

<!-- doccure/client-profile.html  30 Nov 2019 04:12:13 GMT -->

</html>